Repository geany/geany, pull requests merged in 2022-05, with the labels that each got.

#3187 Fix docbook parser memory leak
  ctags/parsers/geany_docbook.c
Labels: ctags parser

#3157 Use the upstream TCL parser
  ctags/Makefile.am
  ctags/parsers/geany_tcl.c
  ctags/parsers/tcl.c
  ctags/parsers/tcl.h
  ctags/parsers/tcloo.c
  meson.build
  src/filetypes.c
  src/tagmanager/tm_parser.c
  src/tagmanager/tm_parser.h
  src/tagmanager/tm_parsers.h
  tests/ctags/simple.tcl
  tests/ctags/simple.tcl.tags
Labels: ctags parser

#3158 Use the upstream VHDL parser
  ctags/Makefile.am
  ctags/parsers/geany_vhdl.c
  ctags/parsers/vhdl.c
  meson.build
  src/tagmanager/tm_parser.c
  tests/ctags/Makefile.am
  tests/ctags/bug2374109.vhd.tags
  tests/ctags/test.vhd
  tests/ctags/test.vhd.tags
  tests/ctags/vhdl-component.vhd
  tests/ctags/vhdl-component.vhd.tags
  tests/ctags/vhdl-local.vhd
  tests/ctags/vhdl-local.vhd.tags
  tests/ctags/vhdl-port.vhd
  tests/ctags/vhdl-port.vhd.tags
  tests/ctags/vhdl-process.vhd
  tests/ctags/vhdl-process.vhd.tags
  tests/ctags/vhdl-type.vhd
  tests/ctags/vhdl-type.vhd.tags
  tests/meson.build
Labels: ctags parser

#3161 Use the upstream Markdown parser
  ctags/Makefile.am
  ctags/parsers/geany_markdown.c
  ctags/parsers/markdown.c
  ctags/parsers/markdown.h
  meson.build
  src/tagmanager/tm_parser.c
  tests/ctags/simple.md.tags
Labels: ctags parser

#3159 Use the upstream latex parser
  ctags/Makefile.am
  ctags/parsers/geany_tex.c
  ctags/parsers/tex.c
  ctags/parsers/tex.h
  meson.build
  src/tagmanager/tm_parser.c
  tests/ctags/3526726.tex.tags
  tests/ctags/bug2886870.tex.tags
  tests/ctags/intro.tex.tags
  tests/ctags/intro_orig.tex
  tests/ctags/intro_orig.tex.tags
Labels: ctags parser

#3162 Add Clojure ctags parser
  ctags/Makefile.am
  ctags/parsers/clojure.c
  data/filedefs/filetypes.Clojure.conf
  meson.build
  src/tagmanager/tm_parser.c
  src/tagmanager/tm_parser.h
  src/tagmanager/tm_parsers.h
  tests/ctags/Makefile.am
  tests/ctags/simple.clj
  tests/ctags/simple.clj.tags
  tests/meson.build
Labels: ctags parser

#3164 Add lisp ctags parser
  ctags/Makefile.am
  ctags/parsers/lisp.c
  meson.build
  src/filetypes.c
  src/tagmanager/tm_parser.c
  src/tagmanager/tm_parser.h
  src/tagmanager/tm_parsers.h
  tests/ctags/Makefile.am
  tests/ctags/simple.lisp
  tests/ctags/simple.lisp.tags
  tests/meson.build
Labels: ctags parser

#3165 Add typescript ctags parser
  ctags/Makefile.am
  ctags/parsers/typescript.c
  data/filedefs/filetypes.TypeScript.conf
  meson.build
  src/tagmanager/tm_parser.c
  src/tagmanager/tm_parser.h
  src/tagmanager/tm_parsers.h
  tests/ctags/Makefile.am
  tests/ctags/simple.ts
  tests/ctags/simple.ts.tags
  tests/meson.build
Labels: ctags parser

#3160 Use the upstream Fortran parser
  ctags/Makefile.am
  ctags/parsers/fortran.c
  meson.build
  src/filetypes.c
  src/tagmanager/tm_ctags.c
  src/tagmanager/tm_parser.c
  src/tagmanager/tm_parser.h
  src/tagmanager/tm_parsers.h
  tests/ctags/bug565813.f90.tags
  tests/ctags/bug670433.f90.tags
  tests/ctags/bug726712.f90.tags
  tests/ctags/enum.f90.tags
  tests/ctags/forall_module.f90.tags
  tests/ctags/fortran_associate.f90.tags
  tests/ctags/members.f90.tags
  tests/ctags/numlib.f90.tags
  tests/ctags/procedure_pointer_module.f90.tags
  tests/ctags/qualified_types.f90
  tests/ctags/square_parens.f90.tags
  tests/ctags/stdcall.f.tags
  tests/ctags/structure.f.tags
Labels: ctags parser

#3196 Fix renaming of variables with anonymous type
  src/tagmanager/tm_ctags.c
Labels: tag-manager

#3166 Add ADA ctags parser
  ctags/Makefile.am
  ctags/parsers/ada.c
  meson.build
  src/filetypes.c
  src/tagmanager/tm_parser.c
  src/tagmanager/tm_parser.h
  src/tagmanager/tm_parsers.h
  tests/ctags/Makefile.am
  tests/ctags/ada-adb.adb
  tests/ctags/ada-adb.adb.tags
  tests/ctags/ada-ads.ads
  tests/ctags/ada-ads.ads.tags
  tests/ctags/ada-expression-function-generic.adb
  tests/ctags/ada-expression-function-generic.adb.tags
  tests/ctags/ada-expression-function.adb
  tests/ctags/ada-expression-function.adb.tags
  tests/ctags/ada-overriding.ads
  tests/ctags/ada-overriding.ads.tags
  tests/ctags/ada-package-generic.ads
  tests/ctags/ada-package-generic.ads.tags
  tests/ctags/ada-task.adb
  tests/ctags/ada-task.adb.tags
  tests/meson.build
Labels: ctags parser

#3153 VTE: Fix crash when "send_cmd_prefix" is NULL
  src/vte.c
Labels: vte

#3207 Remove built in globbing support when generating tag files
  configure.ac
  meson.build
  src/tagmanager/tm_workspace.c
Labels: tag-manager

#3193 Use G_DIR_SEPARATOR instead of / when getting short name
  src/tagmanager/tm_source_file.c
Labels: windows, tag-manager

#2924 Generate Python identifiers only for Python 3
  data/filedefs/filetypes.python.in
  scripts/update-python-identifiers.sh
Labels: build-system
