Repository geany/geany, pull requests merged in 2022-11, with the labels that each got.

#3269 Sort autocompletion tags also based on their presence in included files
  src/symbols.c
  src/tagmanager/tm_parser.c
  src/tagmanager/tm_parser.h
  src/tagmanager/tm_workspace.c
  src/tagmanager/tm_workspace.h
Labels: tag-manager

#3287 Add option to only show line endings if they differ from file default
  data/geany.glade
  doc/geany.txt
  src/editor.c
  src/editor.h
  src/keyfile.c
  src/plugindata.h
  src/prefs.c
  src/sciwrappers.c
  src/sciwrappers.h
  src/ui_utils.c
Labels: enhancement

#3277 Add soft keywords to Python keyword list
  data/filedefs/filetypes.python.in
  scripts/update-python-identifiers.sh
Labels: enhancement, filetype
