Repository geany/geany, pull requests merged in 2022-04, with the labels that each got.

#2761 Meson build system
  .github/workflows/build.yml
  .gitignore
  Makefile.am
  README
  configure.ac
  data/meson.build
  doc/Doxyfile.in
  doc/Makefile.am
  doc/meson.build
  icons/24x24/Makefile.am
  icons/24x24/geany.png
  icons/meson.build
  meson.build
  meson_options.txt
  plugins/Makefile.am
  plugins/classbuilder.c
  plugins/demoplugin.c
  plugins/export.c
  plugins/filebrowser.c
  plugins/htmlchars.c
  plugins/meson.build
  plugins/saveactions.c
  plugins/splitwindow.c
  po/meson.build
  scripts/gen-signallist.sh
  src/Makefile.am
  src/libmain.c
  src/templates.c
  src/utils.c
  tests/ctags/Makefile.am
  tests/ctags/runner.sh
  tests/meson.build
Labels: needs work, discussion, packaging, build-system

#3137 Move symbol tree root mappings to tm_parser.c
  HACKING
  po/POTFILES.in
  src/editor.c
  src/keyfile.c
  src/symbols.c
  src/tagmanager/tm_ctags.c
  src/tagmanager/tm_parser.c
  src/tagmanager/tm_parser.h
Labels: tag-manager

#3091 Manually realize the VTE widget on startup
  src/vte.c
Labels: vte

#3168 session.conf split follow-up: sidebar_page
  src/keyfile.c
  src/sidebar.c
  src/sidebar.h
  src/ui_utils.h
Labels: pending timeout
