Repository geany/geany, pull requests merged in 2024-04, with the labels that each got.

#3723 Added தமிழ் translation file - ta.po
  po/ta.po
Labels: translations

#3817 Document *Go to line* offsets
  doc/geany.txt
Labels: documentation

#3837 Erlang: display module node in the symbols tree
  src/tagmanager/tm_parser.c
  tests/ctags/maze.erl.tags
  tests/ctags/test.erl.tags
Labels: tag-manager

#3846 Fix invalid memory access and Unicode support in utils_get_initials()
  src/utils.c
  tests/test_utils.c
Labels: bug

#3656 update fortran keywords
  data/filedefs/filetypes.fortran
Labels: filetype

#3163 Add Ocaml ctags parser
  ctags/Makefile.am
  ctags/parsers/ocaml.c
  meson.build
  src/filetypes.c
  src/tagmanager/tm_parser.c
  src/tagmanager/tm_parser.h
  src/tagmanager/tm_parsers.h
  tests/ctags/Makefile.am
  tests/ctags/simple.ml
  tests/ctags/simple.ml.tags
  tests/meson.build
Labels: ctags parser

#3716 Various encodings conversion fixes
  src/document.c
  src/encodings.c
  src/encodingsprivate.h
  src/libmain.c
  src/templates.c
  tests/Makefile.am
  tests/meson.build
  tests/test_encodings.c
Labels: bug

#3720 Encodings UI improvements
  data/geany.glade
  doc/geany.txt
  src/encodings.c
  src/encodingsprivate.h
  src/prefs.c
Labels: enhancement

#3853 meson: Use host instead of target
  meson.build
Labels: windows, build-system

#3785 Rename both scope and var_type of anonymous types
  src/tagmanager/tm_ctags.c
  tests/ctags/Makefile.am
  tests/ctags/nested_anon.c
  tests/ctags/nested_anon.c.tags
  tests/meson.build
Labels: tag-manager
