Repository geany/geany, pull requests merged in 2024-08, with the labels that each got.

#3849 Plugin extensions (aka LSP API)
  doc/plugins.dox
  meson.build
  plugins/Makefile.am
  plugins/demopluginext.c
  plugins/geanyplugin.h
  plugins/meson.build
  src/Makefile.am
  src/document.c
  src/editor.c
  src/keybindings.c
  src/plugindata.h
  src/pluginextension.c
  src/pluginextension.h
  src/symbols.c
  src/symbols.h
Labels: lsp

#3929 Update pt_br translation
  po/pt_BR.po
Labels: translations

#3480 Add CIL lexer/filetype
  data/Makefile.am
  data/filedefs/filetypes.cil
  data/filetype_extensions.conf
  meson.build
  scintilla/Makefile.am
  scintilla/lexilla/lexers/LexCIL.cxx
  scintilla/lexilla/src/Lexilla.cxx
  scintilla/scintilla_changes.patch
  src/editor.c
  src/filetypes.c
  src/filetypes.h
  src/highlighting.c
  src/highlightingmappings.h
Labels: filetype

#3560 Hide autocompletion and calltip popups when code scrolled
  src/editor.c
Labels: bug

#3171 Add Prolog filetype support
  data/Makefile.am
  data/filedefs/filetypes.prolog
  data/filetype_extensions.conf
  meson.build
  scintilla/Makefile.am
  scintilla/lexilla/lexers/LexVisualProlog.cxx
  scintilla/lexilla/src/Lexilla.cxx
  scintilla/scintilla_changes.patch
  src/filetypes.c
  src/filetypes.h
  src/highlighting.c
  src/highlightingmappings.h
Labels: filetype

#3648 Convert Nim to builtin filetype and use Scintilla Nim lexer for it
  data/Makefile.am
  data/filedefs/filetypes.Nim.conf
  data/filedefs/filetypes.nim
  data/filetype_extensions.conf
  meson.build
  scintilla/Makefile.am
  scintilla/lexilla/lexers/LexNim.cxx
  scintilla/lexilla/src/Lexilla.cxx
  scintilla/scintilla_changes.patch
  src/filetypes.c
  src/filetypes.h
  src/highlighting.c
  src/highlightingmappings.h
Labels: filetype
